In [1]:
import pandas as pd

produtos_df = pd.read_csv(r"Contoso - Cadastro Produtos.csv", sep=';', encoding='latin1')
vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';')
clientes_df = pd.read_csv(r'Contoso - Clientes.csv', sep=';', encoding='latin1')
lojas_df = pd.read_csv(r'Contoso - Lojas.csv', sep=';', encoding='latin1')

#Renomeando
produtos_df = produtos_df.rename(columns={'ÿNome do Produto':'Nome do Produto'})
clientes_df = clientes_df.rename(columns={'ÿID Cliente':'ID Cliente'})
lojas_df = lojas_df.rename(columns={'ÿID Loja':'ID Loja'})

#Simplificando
produtos_df = produtos_df[['ID Produto', 'Nome do Produto']]
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

#Mesclando
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente').rename(columns={'E-mail':'E-mail do Cliente'})
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')

Qual loja mais vendeu?

- Usar o groupby para agrupar o dataframe de acordo com o objetivo(somando as quantidades de vendas, por exemplo)

In [2]:
vendas_lojas = vendas_df.groupby("Nome da Loja")[["Quantidade Vendida"]].sum()  # “Agrupe todas as vendas pelo nome da loja e some a quantidade vendida.”
display(vendas_lojas)

                          Quantidade Vendida
Nome da Loja
Loja Contoso Albany                    26353
Loja Contoso Alexandria                26247
Loja Contoso Amsterdam                 28294
Loja Contoso Anchorage                 27451
Loja Contoso Annapolis                 26065
...                                      ...
Loja Contoso Yokohama                  28023
Loja Contoso York                      27164
Loja Contoso koln No.1                 29046
Loja Contoso koln No.2                 29650
Loja Contoso obamberg                  29336

[306 rows x 1 columns]

Pegar o maior valor -> Duas formas:

- Método .sort_values -> Ordena o dataframe em ordem decrescente de Quantidade de Vendas
- Método .max() e .idxmax() -> Pegar o maior valor diretamente

In [3]:
vendas_lojas = vendas_lojas.sort_values(by="Quantidade Vendida", ascending=False)
display(vendas_lojas)

                                     Quantidade Vendida
Nome da Loja
Loja Contoso Catalog                            1029117
Loja Contoso North America Online                701961
Loja Contoso Europe Online                       616845
Loja Contoso Asia Online                         578458
Loja Contoso North America Reseller              520176
...                                                 ...
Loja Contoso Berlin                                 379
Loja Contoso Paterson                               371
Loja Contoso Marseille                              370
Loja Contoso Racine No.2                            253
Loja Contoso Venezia                                234

[306 rows x 1 columns]

In [9]:
# .max() e .idxmax

maior_loja = vendas_lojas['Quantidade Vendida'].max()
melhor_loja = vendas_lojas['Quantidade Vendida'].idxmax()
print(f'A melhor loja foi a: {melhor_loja} e sua quantidade vendida: {maior_loja}.')

# .min() e .idxmin

menor_loja = vendas_lojas['Quantidade Vendida'].min()
pior_loja = vendas_lojas['Quantidade Vendida'].idxmin()
print(f'A pior loja foi a: {pior_loja} e sua quantidade vendida: {menor_loja}.')

A melhor loja foi a: Loja Contoso Catalog  e sua quantidade vendida: 1029117.
A pior loja foi a: Loja Contoso Venezia  e sua quantidade vendida: 234.

In [12]:
vendas_lojas[:1]

                       Quantidade Vendida
Nome da Loja
Loja Contoso Catalog              1029117

In [13]:
vendas_lojas[-1:]

                       Quantidade Vendida
Nome da Loja
Loja Contoso Venezia                  234